@use '../abstracts/index' as *;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: px-to-rem(80);
    padding: px-to-rem(16);
    background-color: white;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;

    @media (min-width: $breakpoint-mobile) {
    }
}

.hamburger__container {
    height: px-to-rem(48);
    width: px-to-rem(48);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (min-width: $breakpoint-mobile) {
        display: none;
    }
}

.navbar__leftcontainer {
    display: flex;
    align-items: center;
    width: px-to-rem(112);
    height: px-to-rem(48);
    justify-content: space-between;
}

.navbar__rightcontainer {
    display: flex;
    width: px-to-rem(169);
    height: px-to-rem(44);
    justify-content: space-between;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
        width: px-to-rem(240);
    }
}

.logo__container {
    height: px-to-rem(40);
    width: px-to-rem(40);
    display: flex;
    justify-content: space-between;
    align-items: end;

    @media (min-width: $breakpoint-mobile) {
        height: px-to-rem(40);
        width: px-to-rem(264);
    }
}

.alurabooks {
    display: none;

    @media (min-width: $breakpoint-mobile) {
        font-family: $font-family-brand;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: px-to-rem(30);
        width: px-to-rem(156);
        //font-size: px-to-rem(30);
        font-size: clamp(1.1rem, 2vw, 1.5rem);
        margin-right: 3vw;

        &__main {
            font-weight: $font-weight-bold;
        }
        &__sub {
            font-weight: $font-weight-regular;
        }
    }
}

.navbar__menu {
    position: fixed;
    top: px-to-rem(80);
    left: -(px-to-rem(320));
    width: px-to-rem(300);
    background-color: white;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.navbar__menu.is-open {
    left: 0;
}

.navbar__category {
    color: $primary-color;
    font-weight: $font-weight-bold;
    font-size: px-to-rem(24);
}

.navbar__link {
    color: $secondary-color;
    text-decoration: none;
    font-weight: $font-weight-regular;
    font-size: px-to-rem(24);

    &:hover {
        color: $primary-color;
    }
}

.navbar__rightcontainer a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar__icon-text {
    display: none;

    @media (min-width: $breakpoint-tablet) {
    }
}

.navbar__desktop-links {
    display: none;

    @media (min-width: $breakpoint-mobile) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: px-to-rem(437);
        margin-left: 3vw;
        //list-style: none;
        //gap: 2.5rem;

        a {
            text-decoration: none;
            color: $secondary-color;
            font-weight: $font-weight-regular;
            // font-size: px-to-rem(24);
            font-size: clamp(0.9rem, 1.8vw, 1.3rem);
            padding: px-to-rem(10);

            &:hover {
                background-color: $secondary-color;
                color: white;
            }
        }
    }
}

.navbar__dropdown-trigger {
    @media (min-width: $breakpoint-mobile) {
        position: relative;
        &:hover > a {
            background-color: $secondary-color;
            color: $white;
            padding: px-to-rem(10);
        }

        &:hover .navbar__dropdown-menu {
            display: flex;
        }
    }
}

.navbar__dropdown-menu {
    @media (min-width: $breakpoint-mobile) {
        display: none;
        position: absolute;
        top: 2.8rem;
        width: px-to-rem(181);
        background-color: $white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        list-style: none;
        flex-direction: column;
        z-index: 1000;

        li {
            border-bottom: 1px solid $border-color;
        }

        a {
            display: block;
            padding: px-to-rem(10);
            font-size: px-to-rem(16);
            color: $secondary-mid-color;

            &:hover {
                background-color: $secondary-color;
                color: $white;
            }
        }
    }
}

.icon-logo_heart {
    font-size: 3rem;
    color: $secondary-mid-color;

    @media (min-width: $breakpoint-mobile) {
        display: none;
    }
}

.icon-logo_bag {
    font-size: 2rem;
    color: $secondary-mid-color;
}

.icon-logo_vector {
    font-size: 1.8rem;
    color: $secondary-mid-color;
}

.navbar__icon-text {
    @media (min-width: $breakpoint-tablet) {
        display: inline-block;
        margin-left: 0.5rem;
        font-size: 0.9rem;
        font-weight: $font-weight-regular;
        color: $secondary-mid-color;
    }
}
