@use '../abstracts/index' as *;

.releases {
    background-color: #e5e5e5;
    padding-bottom: 2rem;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: px-to-rem(1200);
        margin: 0 auto;
        gap: px-to-rem(8);
    }

    &__title {
        color: $primary-color;
        font-size: px-to-rem(18);
        font-weight: $font-weight-bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        background-color: white;
        width: 100%;
        padding: px-to-rem(16) 0;
        margin: 0;
    }
}

// Swiper Base Setup
.swiper {
    width: 100%;
    position: relative;
    padding-bottom: px-to-rem(30);
    padding-top: px-to-rem(20);
}

.carousel__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: px-to-rem(180);
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background-color: $secondary-color;
    width: px-to-rem(40);
    height: px-to-rem(40);
    border-radius: 50%;
    top: 45%;

    &::after {
        font-size: px-to-rem(16);
        font-weight: bold;
    }
}

.swiper-pagination-bullet-active {
    background: $secondary-color;
}

.recommend-card {
    background-color: white;
    border-radius: px-to-rem(8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: px-to-rem(24);
    width: 100%;
    max-width: px-to-rem(380);
    height: px-to-rem(280);
    display: flex;
    // flex-direction: column;
    gap: px-to-rem(24);

    &__tagline {
        color: $primary-color; // Orange
        font-size: px-to-rem(16);
        font-weight: $font-weight-bold;
        margin-bottom: px-to-rem(8);
    }

    &__title {
        color: $secondary-color; // Deep Blue
        font-size: px-to-rem(18);
        font-weight: $font-weight-bold;
        margin-bottom: px-to-rem(8);
    }

    &__description {
        color: rgba(0, 0, 0, 0.85);
        font-size: px-to-rem(14);
        line-height: 1.5;
        // margin-bottom: px-to-rem(5);
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: px-to-rem(10);
    }

    &__media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //gap: px-to-rem(30);
        width: 100%;
    }

    &__graphic-box {
        //background-color: #2F80ED;
        width: px-to-rem(162);
        height: px-to-rem(168);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: auto;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        color: white;
        text-decoration: none;
        font-weight: $font-weight-bold;
        font-size: px-to-rem(16);
        width: 100%;
        height: px-to-rem(48);
        transition: background-color 0.2s;

        &:hover {
            background-color: darken(#f2994a, 10%);
        }
    }
}

//Breakpoint

@media (min-width: $breakpoint-mobile) {
    .releases {
        padding-bottom: 2rem;
        &__container {
            flex-direction: column;
            align-items: center;
            gap: px-to-rem(40);
        }

        &__title {
            font-size: px-to-rem(26);
            padding-top: px-to-rem(48);
            margin-bottom: px-to-rem(16);
        }
    }

    #releases-slider {
        flex: 1.2;
        max-width: px-to-rem(801);
        margin: 0;
    }

    .carousel__img {
        max-width: px-to-rem(160);
    }

    .recommend-card {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        max-width: px-to-rem(580);
        padding: px-to-rem(24);

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__media {
            width: px-to-rem(160);
            flex-shrink: 0;
            justify-content: space-between;

            &__graphic-box {
                height: px-to-rem(140);
            }
        }
    }
}
