@use '../abstracts/index' as *;

.releases {
    background-color: #e5e5e5;
    padding-bottom: 2rem;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //max-width: pxToRem(1200);
        margin: 0 auto;
        gap: pxToRem(8);

        @include breakpoint(large) {
            // flex-direction: row;
        }
    }

    &__title {
        color: $primary-color;
        font-size: pxToRem(18);
        font-weight: $font-weight-bold;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        background-color: white;
        width: 100%;
        padding: pxToRem(16) 0;
        margin: 0;
    }
}

// Swiper Base Setup
.swiper {
    width: 100%;
    position: relative;
    padding-bottom: pxToRem(10);
    padding-top: pxToRem(40);
}

.recommend-card {
    &__icon-btn .icon-logo_heart {
        font-size: 3rem;
        color: $secondary-mid-color;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: white;
    background-color: $secondary-color;
    width: pxToRem(40);
    height: pxToRem(40);
    border-radius: 50%;
    top: 45%;

    &::after {
        font-size: pxToRem(16);
        font-weight: bold;
    }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination.swiper-pagination-horizontal {
    top: 0;
    bottom: auto;
    height: pxToRem(24);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullet-active {
    background: $secondary-color;
}

.recommend-card {
    background-color: white;
    border-radius: pxToRem(8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: pxToRem(24);
    width: 100%;
    max-width: pxToRem(380);
    //height: pxToRem(280);
    display: flex;
    // flex-direction: column;
    gap: pxToRem(24);

    &__tagline {
        color: $primary-color; // Orange
        font-size: pxToRem(16);
        font-weight: $font-weight-bold;
        margin-bottom: pxToRem(8);
    }

    &__title {
        color: $secondary-color;
        font-size: pxToRem(18);
        font-weight: $font-weight-bold;
        margin-bottom: pxToRem(8);
    }

    &__description {
        color: rgba(0, 0, 0, 0.85);
        font-size: pxToRem(14);
        line-height: 1.5;
        // margin-bottom: pxToRem(5);
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: pxToRem(10);
    }

    &__media {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //gap: pxToRem(30);
        width: 100%;
    }

    &__graphic-box {
        //background-color: #2F80ED;
        width: pxToRem(162);
        height: pxToRem(168);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: auto;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        color: white;
        text-decoration: none;
        font-weight: $font-weight-bold;
        font-size: pxToRem(16);
        width: 100%;
        height: pxToRem(48);
        transition: background-color 0.2s;

        &:hover {
            background-color: darken(#f2994a, 10%);
        }
    }
}

//Breakpoint

@media (min-width: $breakpoint-mobile) {
    .releases {
        padding-bottom: 2rem;
        &__container {
            flex-direction: column;
            align-items: center;
            gap: pxToRem(40);
        }

        &__title {
            font-size: pxToRem(26);
            padding-top: pxToRem(48);
            margin-bottom: pxToRem(16);
        }
    }

    #releases-slider {
        flex: 1.2;
        max-width: pxToRem(801);
        margin: 0;
    }

    // .carousel__img {
    //     max-width: pxToRem(160);
    // }

    .recommend-card {
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        max-width: pxToRem(580);
        padding: pxToRem(24);

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__media {
            width: pxToRem(160);
            flex-shrink: 0;
            justify-content: space-between;

            &__graphic-box {
                height: pxToRem(140);
            }
        }
    }
}

//adding content-wrapper class
// .content-wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     //max-width: pxToRem(1200);
//     margin: 0 auto;
//     gap: pxToRem(8);
// }
