@use '../abstracts/index' as *;
@import 'swiper/css';
@import 'swiper/css/pagination';

.carousel__img {
    display: block;
    width: 100%;
    height: auto;
    max-width: pxToRem(180);
    margin: 0 auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

// Custom style override for the pagination bullet colors if you want to match your theme
.swiper-pagination-bullet-active {
    background: $secondary-color; /* Your dark blue theme color */
}
