@use '../abstracts/index' as *;

.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 32rem;
    height: 3rem;
    border: 1px solid $border-color;
    border-radius: 1.5rem;
    padding: 0 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    &__input {
        flex: 1; /* Forces the input to take up all empty internal space */
        border: none;
        outline: none;
        background: transparent;
        font-size: 0.9rem;
        color: $secondary-mid-color;
        padding-right: 1rem;
        text-align: center;

        &::placeholder {
            color: white;
            font-weight: $font-weight-regular;
        }
    }
}
