@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
}
