@use '../abstracts/index' as *;

h1 {
    font-size: px-to-rem(36);
    line-height: 1.5;
    letter-spacing: 0%;
}

h2 {
    font-size: px-to-rem(32);
    line-height: 1.5;
    letter-spacing: 0%;
}

h3 {
    font-size: px-to-rem(18);
    line-height: 1.5;
    letter-spacing: 0%;
}

p {
    font-size: px-to-rem(16);
    line-height: 1.5;
    letter-spacing: 0%;
}
