@use '../abstracts/index' as *;

h1 {
    font-size: pxToRem(36);
    line-height: 1.5;
    letter-spacing: 0%;
}

h2 {
    font-size: pxToRem(32);
    line-height: 1.5;
    letter-spacing: 0%;
}

h3 {
    font-size: pxToRem(18);
    line-height: 1.5;
    letter-spacing: 0%;
}

p {
    font-size: pxToRem(16);
    line-height: 1.5;
    letter-spacing: 0%;
}

a {
    text-decoration: none;
    font-weight: $font-weight-regular;
    color: $black;
}

.hero-text {
    color: $white;
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    padding: 1rem 1.2rem;
    border: none;
}

.primary-heading {
    color: $primary-color;
    @include breakpoint(large) {
        font-size: pxToRem(32);
        font-weight: 700;
    }
}

.shadow-style {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.4);
}

.description-style {
    color: $black;
    font-size: pxToRem(16);
}
