@use '../abstracts/index' as *;

h1 {
    font-size: pxToRem(36);
    line-height: 1.5;
    letter-spacing: 0%;
}

h2 {
    font-size: pxToRem(32);
    line-height: 1.5;
    letter-spacing: 0%;
}

h3 {
    font-size: pxToRem(18);
    line-height: 1.5;
    letter-spacing: 0%;
}

p {
    font-size: pxToRem(16);
    line-height: 1.5;
    letter-spacing: 0%;
}

a {
    text-decoration: none;
    font-weight: $font-weight-regular;
    color: $black;
}
